@model E_commerce.Models.UserInfo
@{
    ViewBag.Title = "UserDetails";
}
<br />
<h2>User Details</h2>
<br />
<div class="container" margin-left:10px>
    <h4>User Id  : @Model.CustId</h4>
    <h4>User Name :@Model.CustName</h4>
    <h4>Email Id  :@Model.EmailId</h4>
    <h4>Zipcode   :@Model.Zipcode</h4>
    <h4>Country   :@Model.country</h4>
    <h4>Password  :@Model.Password</h4>
</div>
