@model E_commerce.Models.UserInfo
@{
    ViewBag.Title = "ViewOrders";
}

<br />


<div class="container">
    @using (Html.BeginForm("ViewCart", "User", FormMethod.Post))
    {

        <div>
            @Html.Label("Email ID:")
            @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control" })
        </div>
        <br />
        <div>
            <input type="submit" value="View" class="btn btn-success" />
        </div>

    }
</div>