
@{
    ViewBag.Title = "AboutUs";

}
<br />


<div class="has-bg-img background-size: cover">

    <img class="bg-img img-fluid opacity-25" src="~/Images/home-bg.jpg" alt="...">
</div>
<div class="position-absolute top-50 start-50 translate-middle">
    <h4>
        We are a retail company, Digital Retailers Inc, who wants to take their business online and create an e-commerce portal
        that will enable people to purchase laptops online. We like to prototype new projects quickly using Agile methods and
        hence avoid a long requirement capture stage. We keep track of our codebase using Git so that multiple
        developers can work on it as required.
    </h4>
</div>