
@{
    ViewBag.Title = "Home";
}
<br />

<div class="has-bg-img background-size: cover">
    
    <img class="bg-img img-fluid opacity-25" src="~/Images/home-bg.jpg" alt="...">
</div>
<div class="position-absolute top-50 start-50 translate-middle">
    <h1 class="fw-bold">Welcome to Digital Retailers Inc.</h1>
    <h4> We have the best laptops for you to buy.</h4>
</div>